*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/30c8b9f4-3db9-4b3b-a1ee-8fa56531b712/web/AZ-en-20251201-TRIFECTA-perspective_5cfb16fd-9e6d-43e0-9653-9efd6362e46d_large.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
        background-attachment: fixed;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 200px;
}
.right-header-container ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.right-header-container ul  li{
    list-style: none;
}
.right-header-container ul  li a{
    text-decoration: none;
    color: white;
}

.shadow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: 10px;
}
.rating-div img{
    margin-bottom: 10px;
}
.shadow h5{
    font-size: 18px;
}
.cards-containerMain {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;   
    padding: 10px;
}


.cards-container{
    margin-top: 250px;
}
.cards-containerMain div{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.load-more{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 600px;
    background-color: red;
    color: white;
}
.simple-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

